@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.container {
  width: 1000px;
  min-height: 50vh;
  margin: 0 auto;
  display: flex;
  margin-top: 150px;
  border-radius: 20px;
}

.left {
  width: 40%;
}

.left img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  width: 70%;
  background-color: #fff;
  padding: 40px;
}

h2 {
  color: hsl(214, 17%, 51%);
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  font-size: 27px;
}

.right p {
  color: hsl(212, 23%, 69%);
  margin: 20px 0;
  line-height: 25px;
  font-size: 17px;
}

.info {
  padding: 10px;
  display: flex;
  margin-top: 20px;
}

.info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#name {
  color: hsl(217, 19%, 35%);
  margin-left: 10px;
  font-weight: 700;
  font-size: 13px;
}

#date {
  position: relative;
  left: -112px;
  top: 22px;
  font-size: 12px;
  color: hsl(212, 23%, 69%);
}

button {
  width: 35px;
  height: 35px;
  background-color: hsl(210, 46%, 95%);
  border: none;
  border-radius: 50px;
  position: relative;
  right: -281px;
  bottom: -9px;
  cursor: pointer;
}

.share {
  width: 200px;
  height: 42px;
  background: hsl(217, 19%, 35%);
  position: relative;
  border-radius: 10px;
  top: -75px;
  left: 158px;
  box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.5);
  display: none;
}

.share:before {
  content: "";
  position: absolute;
  right: 34%;
  top: 38px;
  width: 0;
  height: 0;
  border-bottom: 13px solid transparent;
  border-left: 20px solid transparent;
  border-right: 26px solid transparent;
  border-top: 28px solid hsl(217, 19%, 35%);
}

.share p {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5px;
  position: relative;
  left: 28px;
  top: -13px;
}

.share a {
  width: 16px;
  height: 16px;
  color: #fff;
  position: relative;
  top: -54px;
  left: 114px;
}

.fa-facebook {
  position: relative;
  left: -10px;
  font-size: 20px;
}

.fa-twitter-square {
  font-size: 20px;
}

.fa-pinterest {
  position: relative;
  right: -10px;
  font-size: 20px;
}

@media only screen and (max-width: 425px) {
  .container {
    position: relative;
  }

  .left {
    width: 1083px;
    position: relative;
    left: 5.3rem;
  }

  .right {
    width: 100%;
    position: relative;
    left: -26rem;
    top: 26rem;
  }

  .info img {
    width: 50px;
    height: 50px;
  }

  button {
    left: 5rem;
    width: 45px;
    height: 45px;
    bottom: 2px;
  }

  #name {
    font-size: 16px;
  }

  #date {
    font-size: 14px;
    left: -135px;
  }
}
